<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-black navbar-dark justify-content-center">
        <span class="navbar-nav">
            <a class="navbar-brand">@Html.ActionLink("HOME", "Index", "Home")</a>
            <a class="navbar-brand">@Html.ActionLink("ABOUT", "About", "Home")</a>
            <a class="navbar-brand">@Html.ActionLink("CONTACT", "Contact", "Home")</a>
            <a class="navbar-brand">@Html.ActionLink("SUPERHERO", "Index", "Superhero")</a>
        </span>
        <a align="right">@Html.Partial("_LoginPartial")</a>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
